@use "./vars/colors";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: colors.$fg;
  background-color: colors.$bg;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
