@use "./vars/colors";

body {
  min-height: 100vh;
  color: colors.$fg;
  background-color: colors.$bg;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
